body {
    margin: 0;
    overflow: hidden; /* スクロールバーを隠す */
}

canvas {
    display: block;
}

#speedometer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}