body {
    margin: 0;
    overflow: hidden; /* スクロールバーを隠す */
}

canvas {
    display: block;
}

#speedometer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#coordinates {
    position: absolute;
    top: 40px; /* speedometerの下に配置 */
    left: 10px;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}